/* различные отступы, настройки ширины адаптивности и тд  */
/* Контейнер для форм */
.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.add-entry{
    margin-top: 16px; 
    margin-bottom: 16px;
}