<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Games {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
</head>


<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'games:home' %}">Retro Games</a>
            <div class="navbar-nav" id="navbarNav">
                <a class="navbar-btn" href="{% url 'games:game_list' %}">Игры</a>
                <a class="navbar-btn" href="{% url 'games:studio_list' %}">Студии</a>
                <a class="navbar-btn" href="{% url 'games:category_list' %}">Жанры</a>
                <a class="navbar-btn" href="{% url 'games:platform_list' %}">Платформы</a>

                <div class="nav-line"></div>
                {% if user.is_authenticated %}
                    <span class="navbar-btn">Привет, {{ user.username }}!</span>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Выйти</button>
                    </form>
                {% else %}
                    <a class="navbar-btn" href="{% url 'games:register' %}">Регистрация</a>
                    <a class="navbar-btn" href="{% url 'login' %}">Вход</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content-area">
        <div class="container">

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                            <button type="button" class="btn-close" onclick="this.parentElement.remove()">×</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <h2>Каталог ретро-игр | автор Frens__</h1>
        </div>
    </footer>

</body>
    <script src="{% static 'js/Tetris.js' %}"></script>
    <script src="{% static 'js/Snake.js' %}"></script>
</html>
